@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.navbar {
  height: 8rem;
  position: relative;
  display: grid;
  align-items: center;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links-container {
    display: flex;
    align-items: center;
    gap: 4rem;

    @include respond(tab-port) {
      position: absolute;
      background-color: red;
      border-radius: 1rem;
      flex-direction: column;
      top: 100%;
      width: 90%;
      padding-block: 4rem;
    }
  }

  &__link {
    color: $very-dark-blue;
    transition: 0.2s all;

    &:hover {
      color: $dark-grayish-blue;
    }
  }

  &__toggle-btn {
    font-size: 3rem;
    color: $very-dark-blue;
    cursor: pointer;
    display: none;

    @include respond(tab-port) {
      display: block;
    }
  }

  @include respond(tab-port) {
    &__btn {
      display: none;
    }

    .show-nav {
      display: flex;
    }

    .hide-nav {
      display: none;
    }
  }
}
