@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.features {
  background-image: url("../../assets/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left -35rem bottom -28rem;

  @include respond(tab-port) {
    background-image: none;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 8rem;
    padding-block: 9rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }

    @include respond(desktop) {
      gap: 16rem;
    }
  }

  &__feature-heading-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    transform: translateX(-17%);

    @include respond(tab-port) {
      transform: translateX(0);
      background: rgba($bright-red, 0.2);
      border-radius: 2rem 0 0 2rem;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  &__feature-num {
    padding: 0.3rem 1.5rem;
    background-color: $bright-red;
    color: white;
    border-radius: 2rem;
  }

  &__heading {
    margin-bottom: 2rem;
  }

  & p {
    margin-top: 1.5rem;
  }

  &__left {
    @include respond(tab-port) {
      text-align: center;
    }
  }
}
